.body {
    text-align: center;
    margin: 0px auto;
}

.content {
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: repeat(16, minmax(100px, auto));
    text-align: center;
    row-gap: 10px;
}

.main {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    display: grid;
    grid-auto-flow: column;
    max-width: 100%;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.main > img {
    height: 80px;
    width: 250px;
}

.main > a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-top: 30px;
    text-decoration: none;
    font-size: 22px;
}

.main > a:hover {
    background-color: #772F74;
    color: black;
    border-bottom: 1px black solid;
}

.main .current {
    background-color: #2DBDEE;
    color: black;
    border-bottom: 1px black solid;
}

h1 {
    background: -webkit-linear-gradient(#FBBD41, #772F74, #2DBDEE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    text-decoration: none;
}

.section1Img {
    grid-column: 1 / 3;
    grid-row: 2 / 8;
    background-image: url(../images/heroImage.jpg);
    background-repeat:no-repeat;
    background-position: center;
    margin-top: 35px;
}

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
}

.section1Nested {
    margin-top: 55px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.section2 {
    grid-column: 1 / 2;
    grid-row: 8 / 10 ;
    background-color: #FBBD41;
    color: white;
}

.listStyle {
    text-align: left;
    list-style-type: none;
}


.spanPurple {
    color: #772F74;
    font-size: 25px;
}

.spanMargin {
    margin-left: 80px;
    font-style: italic;
    font-size: 18px;
}

.section2Center {
    grid-column: 2 / 3;
    grid-row: 8 / 10;
    color: white;
    background-color: #FBBD41;
}

.section3 {
    grid-column: 2 / 3;
    grid-row: 10 / 10;
}

p, h2 {
    max-width: 600px;
}

.leftImg {
    grid-column: 1 / 2;
    grid-row: 10 / 10;
}

.section4 {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
    background-color: #FBBD41;
    margin-left: -100px;
}

.section4Right {
    grid-column: 2 / 3;
    grid-row: 11 / 12;
    background-color: #FBBD41;
    justify-content: center;
    align-content: center;
    display: grid;
}  

.section5 {
    grid-column: 1 / 3;
    grid-row: 12 / 13;
    padding: 100px 0px;
}

.section6 {
    grid-column: 1 / 3;
    grid-row: 13 / 14;
    margin-top: 40px;
    background-image: url(../images/img5.png);
    background-repeat: repeat-x;
    background-size: 750px;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 20px 0px;
}

.footer {
    grid-column: 1 / 3;
    grid-row: 14 / 15;
    background-color: #772F74;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}

.footer2 {
    grid-column: 1 / 2;
    grid-row: 15 / 16;
    background-color: #772F74;
    margin-top: -10px;
    display: grid;
    justify-content: center;
    align-content: center;
    padding-right: 120px;
}

.footer2 > ul > li > a {
    color: white;
    font-style: italic; 
}

.footer2 > ul > li {
    padding: 5px 0px;
}

.footer2Right {
    grid-column: 2 / 3;
    grid-row: 15 / 16;
    background-color: #772F74;
    margin-top: -10px;
    margin-left: -170px;
}

.footer2Right, h2, p, a {
    color: white;
    font-style: italic;
}

.bottomFooter {
    display: grid;
    justify-content: center;
    align-content: center;
}

.bottomFooterRight {
    display: grid;
    justify-content: center;
    align-content: center;
}